<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/A480F1D7CA7E5A78B2E5560688851AD5DF3C603351D7620B91489203074E62E2/scale?width=506"
        height="200px"
        alt="">
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia, ab illum eligendi cupiditate quis, quas nostrum laudantium odit amet tempore quasi dicta accusantium aliquid, eaque adipisci numquam hic corporis quisquam.</a>
        </p>
    </div>
</div>