@media screen and (max-width: 600px) {
    .container__small-card {
        width: 100%;
    }
    
    .container__small-card-content{
        flex-direction: column;
    }

    .small-card__photo > img{
        width: 100%;
    }

    .small-card__title{
        font-size: 10px;
        text-align: center;
    }
}

@media screen and (max-width: 720px) {
    .container__small-card {
        width: 100%;
    }
    
    .container__small-card-content{
        flex-direction: column;
    }
    
    .small-card__photo > img{
        width: 100%;
    }

    .small-card__title{
        text-align: center;
    }
}